<form fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="10px" fxFlex="50" [formGroup]="form">

	<mat-label>{{ 'label.monthlyIncome' | translate }}</mat-label>
	<mat-form-field>
		<input type="number" matInput formControlName="monthlyIncome" [min]="500" [max]="1e+20">
	</mat-form-field>

	<div fxLayout="column">
		<mat-label>{{ 'label.requestedAmount' | translate }}</mat-label>
		<mat-label>{{ form.get('requestedAmount')?.value | currency:'EUR':'symbol':'1.0-0' }}</mat-label>
		<div fxLayout="row" fxLayoutAlign="space-between center">
			<mat-slider
				fxFlex="65"
				disabled="false"
				min="20000"
				max="50000"
				step="50"
				discrete="false"
				showTickMarks="false">
				<input matSliderThumb formControlName="requestedAmount" [(ngModel)]="monthlyIncome">
			</mat-slider>
			<mat-form-field fxFlex="25">
				<div fxLayout="row">
					<input type="number" matInput formControlName="requestedAmount" [min]="20000" [max]="50000" [(ngModel)]="monthlyIncome">
					<mat-icon>euro_symbol</mat-icon>
				</div>
			</mat-form-field>
		</div>
	</div>

	<mat-label>{{ 'label.loanTerm' | translate }}</mat-label>
	<p>{{ form.get('loanTerm')?.value | dateFormat }}</p>
	<mat-slider
		disabled="false"
		min="36"
		max="360"
		step="6"
		discrete="false"
		showTickMarks="false">
		<input matSliderThumb formControlName="loanTerm">
	</mat-slider>

	<mat-label>{{ 'label.children' | translate }}</mat-label>
	<mat-form-field appearance="fill">
		<mat-select [value]="form.get('children')?.value" formControlName="children">
			<mat-option *ngFor="let choice of children | keyvalue | slice:0:3" [value]="choice.value">{{ 'choice.' + choice.value | translate }}</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-label>{{ 'label.coapplicant' | translate }}</mat-label>
	<mat-form-field appearance="fill">
		<mat-select formControlName="coapplicant">
			<mat-option *ngFor="let choice of coApplicant | keyvalue | slice:0:3" [value]="choice.value">{{ 'choice.' + choice.value | translate }}</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-label>{{ 'label.monthlyPayment' | translate }}</mat-label>
	<div fxLayout="column" *ngIf="(monthlyPayment$ | async) as value">
		<p>{{ value | currency:'EUR':'symbol':'1.0-0'}}</p>
	</div>
</form>