$blue-color: #5671B6;

// Breakpoints:
$breakpoint-fold: 300px; // Smallest screen width of Galaxy Fold (280px)
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;

$breakpoint-xs: 370px;
$breakpoint-ms: 400px;
$breakpoint-m: 425px;
$breakpoint-sm: 576px;
$breakpoint-fx-xs: 600px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;